[submodule "ws/src/main_ros/kinova-ros2"]
	path = ws/src/main_ros/kinova-ros2
	url = https://github.com/RRL-ALeRT/kinova-ros2.git
[submodule "ws/src/main_ros/ros_utilities"]
	path = ws/src/main_ros/ros_utilities
	url = https://github.com/bdaiinstitute/ros_utilities.git
[submodule "external/Human3D"]
	path = external/Human3D
	url = https://github.com/human-3d/Human3D.git
[submodule "back_massage_bot/external/Human3D"]
	path = back_massage_bot/external/Human3D
	url = https://github.com/human-3d/Human3D.git
