numpy
torch==2.5.1
torchvision
matplotlib
opencv-python>=4.8.0
setuptools>=65.0
open3d>=0.18.0
# git+https://github.com/facebookresearch/detectron2.git@main#egg=densepose&subdirectory=projects/DensePose
